./eppstein.py
./.env
eppstein.py
.env
./goon.py
./MobileNetSSD_deploy.caffemodel
./MobileNetSSD_deploy.prototxt
./assets/promotional/promo_banner_charlie.psd
assets/promotional/promo_banner_charlie.psd
